<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::header(${product.title})">

</head>
<body>
<div th:if="${session.sid == null}">
    <script>
        alert("상품 상세 정보는 로그인 후 확인 가능합니다.")
        window.location.href="/";
    </script>
</div>
<div th:if="${product.salStat == 'PRD02'}">
    <script> <!--todo: 작성한 사람이라면 접근 가능, 작성한 사람이 아니라면(세션에 있는 유저 정보랑 게시글에 담긴 유저 정보가 일치하지 않을 경우) 아래처럼 접근 거부-->
        alert("판매 중지된 상품입니다.")
        window.location.href="/";
    </script>
</div>
<div th:if="${session.sid != null}" th:data-productid="${product.prdId}" id="productId" th:data-prdusrid="${product.usrId}">
    <div th:if="${product.salStat != 'PRD02'}">
        <div id="wrapper" th:replace="fragments/base::setContent(~{::searchbar}, ~{::sidebar})">
          <!-- Sidebar -->
          <th:block th:fragment="searchbar">
            <th:block th:replace="fragments/searchbar::searchbar"></th:block>
          </th:block>

          <!-- Sidebar -->

          <th:block th:fragment="sidebar">
            <th:block th:replace="fragments/sidebar::setSideBar(~{::content})">
              <th:block th:fragment="content">
                <!-- 컨텐츠 시작 지점 -->

                <div class="container text-center">
                  <div class="row">
                    <!-- 프사/닉네임(타인), 사진, 좋아요, 조회수, 구매량 부분-->
                    <div class="col">
                      <div align="left">
        <!--                <a href="#" data-bs-toggle="dropdown" aria-expanded="false"> 클릭 시 해당 유저 페이지로-->
                          <div th:if="${session.sid != product.usrId}" >
                              <span id="detail_effect"><i class="bi bi-caret-right" style="font-size: 24px;color: #89488A;position: relative;" ></i> 상세보기 </span>
                              <div class="card" style="width: 18rem; border:none;position: fixed; top:80px;left:200px;z-index:9999;" id="hide_effect">
                                  <div class="card-body" >
    <!--                                  <img width="32" height="32" class="rounded-circle" th:src="@{/upload/profile/{url}(url=${product.uploadMemberInfo.getImageProfile().getProfImg()})}" />-->
                                      <img width="32" height="32" class="rounded-circle" th:src="|/upload/profile/${member.getImageProfile().getProfImg()}|" />
                                      <code><span class="card-text ml-15" style="font-weight: bold;font-size: 20px;" th:text="${product.uploadMemberInfo.usrId}"></span></code>
                                  </div>
                              </div>
                          </div>
                          <span hidden="hidden" th:data-usrid="${session.sid}" id="usrId"></span>
                          <span hidden="hidden" th:data-prusrid="${product.usrId}" ></span>
                      </div>
                      <!--<h1> 홈 / TtoT </h1> 내 게시글일 경우 표시 -->
                      <div class="mx-auto">
                          <div th:if="${session.sid == product.usrId}">
                              <div class="card" style="width: 18rem; border:none;" >
                                  <div class="card-body">
                                      <img th:src="|/upload/profile/${member.getImageProfile().getProfImg()}|" width="32" height="32" class="rounded-circle">
                                      <code><span style="font-weight: bold;font-size: 20px;">[[${product.usrId}]] 님의 T2T</span></code>
                                  </div>
                              </div>
                          </div>
                        <div class="card" style="width: 30rem;border:none;border-radius: 10%;margin-left: 120px;">
                          <img th:src="|/product/image/${product.getImgFile().getFileNm()}|" id="productImg" class="card-img-top" style="border-radius: 10%;">

                          <!--좋아요, 조회수, 구매량 표시 부분-->
                          <div class="card-body">
                              <div align="center">
                              <a type="button" id="goodEvent" th:data-clickgood="${clickgood}">
                                  <th:block th:if="${clickgood == true}" >
                                      <i id="heart-fill" class="bi bi-heart-fill" style="color: red"></i>
                                  </th:block>
                                  <th:block th:if="${clickgood != true}">
                                      <i id="heart-empty" class="bi bi-heart" style="color: red"></i>
                                  </th:block>
                              </a><span id="goodCount" style="margin-left: 3px">[[${goodCount}]]</span> <!--줄바꿈 안하려고 span 씀, 문자열은 바꿔야 할 부분...-->
                                <!--todo: 간격 벌리기 -->
                              <a style="margin-left: 30px">
                                <i class="bi bi-eye"></i>
                              </a><span>[[${product.hit}]]</span>

                              <a style="margin-left: 30px">
                                <i class="bi bi-cash"></i>
                              </a><span>구매량(숫자)</span>
                                <p class="margin"></p><br/>
                                  <th:block th:if="${session.sid != product.usrId}">
                                    <button type="button" class="btn btn-success marg" >판매자와 연락하기</button> <!--채팅으로 연결-->
                                  <p class="margin"></p><br/>
                                    <button type="button" class="btn btn-primary" id="purchaseEvent" value="purchaseEvent">구매하기</button>
                                  </th:block><!--modal 창으로 띄움 -->
                              </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col">
                      <div align="right">
                          <th:block th:if="${session.sid != product.usrId}">
                            <button type="button" class="btn btn-danger" id="complaintEvent" th:data-prdid="${product.prdId}" value="complaintEvent"> 신고 </button> <!--타인의 게시글일 경우 표시-->
                          </th:block>
                          <th:block th:if="${session.sid == product.usrId}">
                            <button type="button" class="btn btn-danger" th:data-prdid="${product.prdId}" th:onclick="|location.href='@{/product/{prdId}/modify(prdId=${product.prdId})}'|">수정</button> <!--내 게시글일 경우 표시-->
                            <button type="button" class="btn btn-danger" th:data-prdid="${product.prdId}" id="deleteEvent" value="deleteEvent"> 삭제 </button> <!--내 게시글일 경우 표시-->
                          </th:block>
                      </div>
                      <div class="mx-auto"> <!--간격 생성 (가로배치 우회) -->
        <!--                <div class="mb-3">-->
        <!--                  <label for="exampleFormControlTextarea1" class="form-label">제목</label>-->
        <!--                  <input type="text" value="제목" class="form-control" id="exampleFormControlInput1" readonly>-->
        <!--                </div>-->
                        <div class="mb-2">
                            <label for="prdTitle" class="form-label">제목</label>
                            <input type="text" th:field="${product.title}" class="form-control" id="prdTitle" readonly>
                        </div>
                        <div class="mb-3">
                          <label for="cont" class="form-label">설명</label>
                          <textarea class="form-control" id="cont" rows="3" th:text="${product.cont}" readonly></textarea>
                            <div class="card-body" id="prdHash" style="margin-top: 5px; text-align: left"></div>

                        </div> <!--제목/설명 끝-->

                        <div class="card" style="border: none;" align="left">
<!--                            <div class="card-body" id="prdHash" >-->
<!--                            </div>-->
                        </div>

                        <div class="card" >
                          <div class="card-body" style="font-size: 18px">
                            카테고리: [[${product.cate}]]
                          </div>
                        </div>
                        <p class="margin">

                        <div class="card">
                          <div class="card-body" style="font-size: 18px">
                            <p>가격: [[${product.price}]]원</p>
                            남은 수량: [[${product.trgtSalQty}]]개
                          </div>
                        </div>
                        <p class="margin"></p>
                          <div style="text-align: left">
                              <ul class="comment">
                                  <li class="comment-form">
                                      <div id="comment-form">
                                          <h4>댓글쓰기
                                              <span></span>
                                          </h4>
                                          <input type="button" class="comment-btn" id="comment-btn" value="등록"/>
                                          <span class="ps_box">
                                            <input type="text" placeholder="댓글 입력..." class="int" name="content"/>
                                          </span>
                                      </div>
                                  </li>
                                  <li id="reply-list"></li>
                              </ul>
                          </div>
                          <script src="/js/reply.js"></script>
                      </div>  <!-- 종료 지점: 가로배치 우회 --> <!--todo: 대댓글, 수정/삭제 기능 추가-->
                    </div>
                  </div>
                </div>

                <!-- 신고 modal -->
                <div class="modal fade" id="complaintModal" tabindex="-1" aria-labelledby="complaintModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
        <!--                <img src="/common/img/t2t.png" width="40" height="40"/>-->
                        <h2 class="modal-title fs-5" id="complaintModalLabel">신고</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                      </div>
                    </div>
                  </div>
                </div>

                <!-- 삭제 mooal-->
                <div class="modal fade" id="deletePrdModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
        <!--                <img src="/common/img/t2t.png" width="40" height="40"/>-->
                        <h2 class="modal-title fs-5" id="deleteModalLabel">삭제</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                      </div>
                    </div>
                  </div>
                </div>

                  <!-- 구매 mooal-->
                  <div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="purchaseModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h2 class="modal-title fs-5" id="purchaseModalLabel">T2T 구매</h2>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                              </div>
                          </div>
                      </div>
                  </div>


                  <script type="text/javascript" th:src='@{/js/prdDetail.js}'></script>
                  <script type="text/javascript" th:src='@{/js/third/watermark.js}'></script>
                <!-- 컨텐츠 종료 지점 -->
              </th:block>
            </th:block>
          </th:block>


          <!-- End of Sidebar -->
        </div>
    </div>
</div>
</body>
</html>