<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::header('회원정보보기')"></head>
<body>
<div id="wrapper" th:replace="fragments/base::setContent(~{::searchbar}, ~{::sidebar})">
    <!-- Sidebar -->
    <th:block th:fragment="searchbar">
        <th:block th:replace="fragments/searchbar::searchbar"></th:block>
    </th:block>

    <!-- Sidebar -->

    <th:block th:fragment="sidebar">
        <th:block th:replace="fragments/sidebar::setSideBar(~{::content})">
            <th:block th:fragment="content">
                <!-- 컨텐츠 시작 지점 -->

                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <div class="mx-auto">
                                <img th:src="@{/common/img/default.png}" class="img-fluid" alt="...">
                                <p></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mx-auto"> <!--간격 생성 (가로배치 우회) -->

                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">제목</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력하세요...">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">설명</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="설명을 입력하세요..."></textarea>
                                </div> <!--제목/설명 끝-->

                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="inputGroupSelect01">카테고리</label>
                                    <select class="form-select" id="inputGroupSelect01">
                                        <option selected>선택하세요...</option>
                                        <option value="1">음식</option>
                                        <option value="2">동물</option>
                                        <option value="3">여행</option>
                                        <option value="4">인물</option>

                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">해시태그 추가</label>
                                    <input type="text" class="form-control" id="hashTag" placeholder="해시태그 입력...">
                                </div>


                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">금액 입력</label>
                                    <input type="text" class="form-control" id="price" placeholder="금액 입력...">
                                </div>

                                <div class="form-check form-switch form-check-reverse">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                                    <label class="form-check-label" for="flexSwitchCheckReverse">판매수량 설정</label>
                                </div>
                                <div class="mb-3"> <!--판매수량 설정 활성화 시 활성화-->
                                    <label for="exampleFormControlInput1" class="form-label">판매 수량</label>
                                    <input type="text" class="form-control" id="quantity" placeholder="판매 수량 입력...">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">판매 중</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">판매 중지</label>
                                    <input type="text" placeholder="중지 사유를 입력하세요..."> <!--판매 중지 체크 시 활성화-->
                                </div>
                            </div>  <!-- 종료 지점: 가로배치 우회 -->
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger"> 수정취소 </button>
                    <button type="submit" class="btn btn-primary"> 수정완료 </button>
                </div>

                <!-- 컨텐츠 종료 지점 -->
            </th:block>
        </th:block>
    </th:block>


    <!-- End of Sidebar -->
</div>
</body>
</html>