<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::header('회원정보보기')"></head>
<body>
<div id="wrapper" th:replace="fragments/base::setContent(~{::searchbar}, ~{::sidebar})">
    <!-- Sidebar -->
    <th:block th:fragment="searchbar">
        <th:block th:replace="fragments/searchbar::searchbar"></th:block>
    </th:block>

    <!-- Sidebar -->

    <th:block th:fragment="sidebar">
        <th:block th:replace="fragments/sidebar::setSideBar(~{::content})">
            <th:block th:fragment="content">
                <!-- 컨텐츠 시작 지점 -->

                <div class="container text-center">
                    <form action="" th:action method="post">
                        <div class="row">
                            <div class="col">
                                <h2> 상품 수정 </h2>
                                <div class="mx-auto">
                                    <img th:src="|/product/image/${product.getImgFile().getFileNm()}|" class="card-img-top">
                                    <p></p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mx-auto"> <!--간격 생성 (가로배치 우회) -->

                                    <div class="mb-3">
                                        <label for="title" class="form-label">제목 변경</label>                                     <!--아래와 같은 형식으로 입력... -->
                                        <input type="text" class="form-control" id="title" th:field="${product.title}">   <!--th:value="${prd.title}"-->
                                    </div>
                                    <div class="mb-3">
                                        <label for="cont" class="form-label">설명 변경</label>
                                        <textarea class="form-control" id="cont" rows="3" th:field="${product.cont}"></textarea>
                                    </div> <!--제목/설명 끝-->

                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="cate">카테고리 변경</label>
                                        <select class="form-select" id="cate" th:field="${product.cate}">
                                            <option selected value="">선택하세요...</option>
                                            <option value="food">음식</option>
                                            <option value="anima">동물</option>
                                            <option value="vacat">여행</option>
                                            <option value="human">인물</option>

                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="hashTag" class="form-label">해시태그 추가(수정)</label>
                                        <input type="text" class="form-control" id="hashTag" placeholder="해시태그 입력...">
                                    </div>
                                    <br/>
                                    <div class="mb-3">
                                        <label for="price" class="form-label">금액 입력</label>
                                        <input type="number" class="form-control" name="price" id="price" th:field="${product.price}" disabled>
                                    </div>
                                    <br/>
                                    <div class="form-check form-switch" align="left">
                                        <label class="form-check-label" for="islimit" >판매수량 설정</label>
                                        <th:block th:if="${#strings.contains(product.islimit, 'Y')}">
                                            <input class="form-check-input" type="checkbox" id="islimit" name="islimit" onclick="acceptTrgtSalQty(this)" value="Y" checked="checked">
                                        </th:block>
                                        <th:block th:if="${!#strings.contains(product.islimit, 'Y')}">
                                            <input class="form-check-input" type="checkbox" id="islimit" name="islimit" onclick="acceptTrgtSalQty(this)" value="N" >
                                        </th:block>
                                    </div>
                                    <div class="mb-3" > <!--판매수량 설정 활성화 시 활성화-->
                                        <input type="number" class="form-control" id="trgtSalQty" th:field="${product.trgtSalQty}" placeholder="판매 수량 입력..." >
                                    </div>
                                    <br/>

                                    <div class="form-check form-switch" align="left">
                                        <label class="form-check-label" for="abortSwitch" >판매 중지 여부</label>
                                        <input class="form-check-input" type="checkbox" id="abortSwitch" onclick="abortTextBox(this)">
                                        <input type="hidden" id="salStat" th:field="${product.salStat}" value="PRD01">
                                    </div>
                                    <div class="mb-3"> <!--판매수량 설정 활성화 시 활성화-->
                                        <input type="text" class="form-control" id="abtReas" th:field="${product.abtReas}" placeholder="중지 사유 입력..." disabled>
                                    </div>
                                </div>  <!-- 종료 지점: 가로배치 우회 -->
                            </div>
                        </div>
                    <button type="button" class="btn btn-danger" th:onclick="|location.href='@{/product/{prdId}(prdId=${product.prdId})}'|"> 수정취소 </button>
                    <button type="submit" onclick="call_confirm()" th:data-prdid="${product.prdId}" class="btn btn-primary"> 수정완료 </button>
                </form>
                </div>

                <!-- 수정 확인 mooal-->
                <div class="modal fade" id="modifyPrdModal" tabindex="-1" aria-labelledby="modifyPrdModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!--                <img src="/common/img/t2t.png" width="40" height="40"/>-->
                                <h2 class="modal-title fs-5" id="modifyPrdModalLabel">수정</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript" th:src='@{/js/modify.js}'></script>
                <!-- 컨텐츠 종료 지점 -->
            </th:block>
        </th:block>
    </th:block>


    <!-- End of Sidebar -->
</div>
</body>
</html>