<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::header('회원정보보기')"></head>
<body>
<div id="wrapper" th:replace="fragments/base::setContent(~{::searchbar}, ~{::sidebar})">
    <!-- Sidebar -->
    <th:block th:fragment="searchbar">
        <th:block th:replace="fragments/searchbar::searchbar"></th:block>
    </th:block>

    <!-- Sidebar -->

    <th:block th:fragment="sidebar">
        <th:block th:replace="fragments/sidebar::setMySideBar(~{::content})">
            <th:block th:fragment="content">
                <!--   나의 현재거래내역 보여주기   -->
                <!-- 구매목록/ 판매목록 -->
                <div class="container text-center">
                    <div class="row">
                        <div class="col-first">
                            <nav class="nav nav-pills nav-justified" id="tabEvent">
                                <a class="nav-link active" tabindex="1">구매목록</a>
                                <a class="nav-link" tabindex="2">판매목록</a>
                            </nav>
                        </div>
                        <div class="row" name="tabTradeList" id="tab_index_1">
                            <div class="col">
                                <h1>Test1</h1>
                            </div>
                        </div>
                        <div class="row" name="tabTradeList" id="tab_index_2">
                            <div class="col">
                                <h1>Test1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 현재 판매내역 -->
                <div id="Curscroller" class="container text-center">
                    <div class="row" >
                        <div class="col" >
                            <div class="container text-center">
                                <div class="row" id="scroller0"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="container text-center">
                                <div class="row" id="scroller1">
                                </div>
                            </div>
                        </div>
                        <div class="col" >
                            <div class="container text-center">
                                <div class="row" id="scroller2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 과거 판매내역 -->
                <div id="Pastscroller" class="container text-center">
                    <div class="row" >
                        <div class="col" >
                            <div class="container text-center">
                                <div class="row" id="scroller3"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="container text-center">
                                <div class="row" id="scroller4">
                                </div>
                            </div>
                        </div>
                        <div class="col" >
                            <div class="container text-center">
                                <div class="row" id="scroller5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                여기서부터 종료-->
            </th:block>
        </th:block>
        <script type="text/javascript" th:src='@{/js/third/jquery-3.7.1.js}'></script>
        <script type="text/javascript" th:src='@{/js/mypage.js}'></script>
    </th:block>
    <!-- End of Sidebar -->
</div>
</body>
</html>