<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::header('회원정보보기')"></head>
<body>
<div id="wrapper" th:replace="fragments/base::setContent(~{::searchbar}, ~{::sidebar})">
    <!-- Sidebar -->
    <th:block th:fragment="searchbar">
        <th:block th:replace="fragments/searchbar::searchbar"></th:block>
    </th:block>

    <!-- Sidebar -->

    <th:block th:fragment="sidebar">
        <th:block th:replace="fragments/sidebar::setMySideBar(~{::content})">
            <th:block th:fragment="content">
                <!--   나의 현재거래내역 보여주기   -->
                <!-- 구매목록/ 판매목록 -->
                <div class="container text-center">
                    <div class="row">
                        <div class="col-first">
                            <nav class="nav nav-pills nav-justified" id="tabEvent">
                                <a class="nav-link active" tabindex="1">판매목록</a>
                                <a class="nav-link" tabindex="2">구매목록</a>
                            </nav>
                        </div>
                    </div>

                    <!-- 판매내역 -->
                    <div id="SalList" class="container text-center">
                        <h1> 판매내역</h1>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">순번</th>
                                <th scope="col">제목</th>
                                <th scope="col">상품이미지</th>
                                <th scope="col">내용</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="cmp :${cmpList}">
                                <td th:text="${cmp.cmpId}"></td>
                                <td th:text="${cmp.regDt}"></td>
                                <td th:text="${cmp.cmpCateCd}"></td>
                                <td th:text="${cmp.usrId}"></td>
                                <td th:text="${cmp.cRstCd}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <!-- 구매내역 -->
                    <div id="OrList" class="container text-center">
                        <h1> 구매내역 </h1>
                        <table class="table">
                            <thead>
                            <!-- 주문상세 누르면 상품 상세페이지로 이동 -->
                            <tr>
                                <th scope="col">순번</th>
                                <th scope="col">제목</th>
                                <th scope="col">상품이미지</th>
                                <th scope="col">내용</th>


                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="prd :${orderList}">
                                <td th:text="${prd.prdId}"></td>
                                <td th:text="${prd.title}"></td>
                                <td><img th:src="@{/upload/product/{url}(url=${prd.getFileNm()})}" /></td>
                                <td th:text="${prd.cont}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <script type="text/javascript" th:src='@{/js/mypageList.js}'></script>
                    <!--                여기서부터 종료-->
            </th:block>
        </th:block>
    </th:block>
    <!-- End of Sidebar -->
</div>
</body>
</html>