<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="searchbar">
    <header class="py-3 mb-3 border-bottom">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/common/img/t2t.png" width="40" height="40">
                </a>
                <ul class="dropdown-menu text-small shadow" style="">
                    <li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>
                    <li><a class="dropdown-item" href="#">Inventory</a></li>
                    <li><a class="dropdown-item" href="#">Customers</a></li>
                    <li><a class="dropdown-item" href="#">Products</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Reports</a></li>
                    <li><a class="dropdown-item" href="#">Analytics</a></li>
                </ul>
            </div>

            <div class="d-flex align-items-center">
                <form class="w-100 me-3" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>

                    <ul class="dropdown-menu text-small shadow" style="">
                        <th:block th:if="${session.t2t_session_user != null}">
                            <th:block th:if="${!#strings.contains(session.http_session_current_url, 'mypage')}">
                                <li><a class="dropdown-item" href="/member/mypage" id="modifyEvent">내 프로필보기 </a></li>
                            </th:block>
                            <li><a class="dropdown-item" href="#" id="leaveEvent">회원탈퇴</a></li>
                            <li><hr class="dropdown-divider" id="divider"></li>
                            <li><a class="dropdown-item" href="#" id="logoutEvent">Log out</a></li>
                        </th:block>
                        <th:block th:if="${session.t2t_session_user == null}">
                            <li><a class="dropdown-item" href="#" id="loginEvent">Login</a></li>
                            <li><a class="dropdown-item" href="#" id="joinEvent">회원가입</a></li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</th:block>
</html>