<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="side">
    <main class="d-flex flex-nowrap">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a href="#" class="nav-link active py-3 border-bottom rounded-0" aria-current="page"
                   data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
                    <i class="bi bi-house-door" style="font-size: 24px; text-align: center;"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                   data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
                    <i class="bi bi-file-earmark-plus" style="font-size: 24px; text-align: center;"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                   data-bs-placement="right" aria-label="Orders" data-bs-original-title="Orders">
                    <i class="bi bi-search-heart" style="font-size: 24px; text-align: center;"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                   data-bs-placement="right" aria-label="Products" data-bs-original-title="Products">
                    <i class="bi bi-chat-text" style="font-size: 24px; text-align: center;"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                   data-bs-placement="right" aria-label="Customers" data-bs-original-title="Customers">
                    <i class="bi bi-question-square" style="font-size: 24px; text-align: center;"></i>
                </a>
            </li>
        </ul>
        <script type="text/javascript">
            (() => {
                'use strict'
                const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                tooltipTriggerList.forEach(tooltipTriggerEl => {
                    new bootstrap.Tooltip(tooltipTriggerEl)
                })
            })()
        </script>
    </main>
</th:block>
<th:block th:fragment="setSideBar(content)">
    <main class="d-flex flex-nowrap">
        <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="margin:5px;">
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item">
                    <a href="#" class="nav-link active py-3 border-bottom rounded-0" aria-current="page"
                       data-bs-toggle="tooltip" data-bs-placement="right" aria-label="홈으로.."
                       data-bs-original-title="Home">
                        <i class="bi bi-house-door" style="font-size: 24px; text-align: center;"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                       data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="상품등록">
                        <i class="bi bi-file-earmark-plus" style="font-size: 24px; text-align: center;"></i>
                    </a>
                </li>
                <li>
                    <div class="dropright">
                        <a href="#" class="nav-link py-3 border-bottom rounded-0" id="cateFilter"
                           data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="60, -100">
                            <i class="bi bi-search-heart" style="font-size: 24px; text-align: center;"></i>
                        </a>
                        <div class="dropdown-menu" id="filterCategory">
                            <form class="px-4 py-3">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="cateTitle">카테고리<span id="cateTitle"></span></label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="categroy" type="checkbox" class="form-check-input"
                                               id="cateAnimalCheck" value="MAN01">
                                        <label class="form-check-label" for="cateAnimalCheck">동물</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="categroy" type="checkbox" class="form-check-input"
                                               id="cateTourCheck" value="MAN02">
                                        <label class="form-check-label" for="cateTourCheck">여행</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="categroy" type="checkbox" class="form-check-input"
                                               id="catePersonCheck" value="MAN03">
                                        <label class="form-check-label" for="catePersonCheck">인물</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="categroy" type="checkbox" class="form-check-input"
                                               id="cateFoodCheck" value="MAN04">
                                        <label class="form-check-label" for="cateFoodCheck">음식</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="categroy" type="checkbox" class="form-check-input"
                                               id="cateAllCheck" value="cateAll">
                                        <label class="form-check-label" for="cateAllCheck">전체</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="gradeTitle">등급별<span id="gradeTitle"></span></label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="gradeCate" type="checkbox" class="form-check-input"
                                               id="gradeACheck" value="GRD01">
                                        <label class="form-check-label" for="gradeACheck">A등급</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="gradeCate" type="checkbox" class="form-check-input"
                                               id="gradeBCheck" value="GRD02">
                                        <label class="form-check-label" for="gradeBCheck">B등급</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="gradeCate" type="checkbox" class="form-check-input"
                                               id="gradeCCheck" value="GRD03">
                                        <label class="form-check-label" for="gradeCCheck">C등급</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="gradeCate" type="checkbox" class="form-check-input"
                                               id="gradeDCheck" value="GRD04">
                                        <label class="form-check-label" for="gradeDCheck">D등급</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="gradeCate" type="checkbox" class="form-check-input"
                                               id="gradeECheck" value="GRD05">
                                        <label class="form-check-label" for="gradeECheck">E등급</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="gradeCate" type="checkbox" class="form-check-input"
                                               id="gradeAllCheck" value="gradeAll">
                                        <label class="form-check-label" for="gradeAllCheck">전체</label>
                                    </div>
                                </div>
                                <div class="form-check form-ch">
                                    <button type="button" id="filterSaveEvent" class="btn btn-primary btn-sm">적용</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                       data-bs-placement="right" aria-label="Products" data-bs-original-title="채팅목록">
                        <i class="bi bi-chat-text" style="font-size: 24px; text-align: center;"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                       data-bs-placement="right" aria-label="Customers" data-bs-original-title="FAQ">
                        <i class="bi bi-question-square" style="font-size: 24px; text-align: center;"></i>
                    </a>
                </li>
            </ul>
            <script type="text/javascript">
                (() => {
                    'use strict'
                    const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                    tooltipTriggerList.forEach(tooltipTriggerEl => {
                        new bootstrap.Tooltip(tooltipTriggerEl)
                    })
                })();


            </script>
        </div>
        <th:block th:replace="${content}"></th:block>
    </main>
</th:block>
<th:block th:fragment="setMySideBar(content)">
    <main class="d-flex flex-nowrap">
        <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="margin:5px;">
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item">
                    <a href="#" class="nav-link active py-3 border-bottom rounded-0" aria-current="page"
                       data-bs-toggle="tooltip" data-bs-placement="right" aria-label="홈으로.."
                       data-bs-original-title="Home">
                        <i class="bi bi-house-door" style="font-size: 24px; text-align: center;"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                       data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="상품등록">
                        <i class="bi bi-file-earmark-plus" style="font-size: 24px; text-align: center;"></i>
                    </a>
                </li>
                <li>
                    <div class="dropright">
                        <a href="#" class="nav-link py-3 border-bottom rounded-0" id="cateFilter"
                           data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="60, -100">
                            <i class="bi bi-search-heart" style="font-size: 24px; text-align: center;"></i>
                        </a>
                        <div class="dropdown-menu" id="filterCategory">
                            <form class="px-4 py-3">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="cateTitle">카테고리<span id="cateTitle"></span></label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="categroy" type="checkbox" class="form-check-input"
                                               id="cateAnimalCheck" value="MAN01">
                                        <label class="form-check-label" for="cateAnimalCheck" >동물</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="categroy" type="checkbox" class="form-check-input"
                                               id="cateTourCheck" value="MAN02">
                                        <label class="form-check-label" for="cateTourCheck">여행</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="categroy" type="checkbox" class="form-check-input"
                                               id="catePersonCheck" value="MAN03">
                                        <label class="form-check-label" for="catePersonCheck">인물</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="categroy" type="checkbox" class="form-check-input"
                                               id="cateFoodCheck" value="MAN04">
                                        <label class="form-check-label" for="cateFoodCheck">음식</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="categroy" type="checkbox" class="form-check-input"
                                               id="cateAllCheck" value="cateAll">
                                        <label class="form-check-label" for="cateAllCheck">전체</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="gradeTitle">등급별<span id="gradeTitle"></span></label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="gradeCate" type="checkbox" class="form-check-input"
                                               id="gradeACheck" value="GRD01">
                                        <label class="form-check-label" for="gradeACheck">A등급</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="gradeCate" type="checkbox" class="form-check-input"
                                               id="gradeBCheck" value="GRD02">
                                        <label class="form-check-label" for="gradeBCheck">B등급</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="gradeCate" type="checkbox" class="form-check-input"
                                               id="gradeCCheck" value="GRD03">
                                        <label class="form-check-label" for="gradeCCheck">C등급</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="gradeCate" type="checkbox" class="form-check-input"
                                               id="gradeDCheck" value="GRD04">
                                        <label class="form-check-label" for="gradeDCheck">D등급</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="gradeCate" type="checkbox" class="form-check-input"
                                               id="gradeECheck" value="GRD05">
                                        <label class="form-check-label" for="gradeECheck">E등급</label>
                                    </div>
                                    <div class="form-check form-switch form-check-inline">
                                        <input name="gradeCate" type="checkbox" class="form-check-input"
                                               id="gradeAllCheck" value="gradeAll">
                                        <label class="form-check-label" for="gradeAllCheck">전체</label>
                                    </div>
                                </div>
                                <div class="form-check form-ch">
                                    <button type="button" id="filterSaveEvent" class="btn btn-primary btn-sm">적용</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                       data-bs-placement="right" aria-label="Products" data-bs-original-title="채팅목록">
                        <i class="bi bi-chat-text" style="font-size: 24px; text-align: center;"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                       data-bs-placement="right" aria-label="Customers" data-bs-original-title="FAQ">
                        <i class="bi bi-question-square" style="font-size: 24px; text-align: center;"></i>
                    </a>
                </li>
                <li>
                    <a th:href="@{/member/mypage/orderList}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                       data-bs-placement="right" aria-label="Orders" data-bs-original-title="현재거래내역">
                        <i class="bi bi-badge-tm" style="font-size: 24px; text-align: center;"></i>
                    </a>
                </li>
                <li>
                    <a th:href="@{/member/mypage/orderList}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                       data-bs-placement="right" aria-label="Products" data-bs-original-title="과거거래내역">
                        <i class="bi bi-r-square-fill" style="font-size: 24px; text-align: center;"></i>
                    </a>
                </li>
                <li>
                    <a th:href="@{/member/mypage/complist}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                       data-bs-placement="right" aria-label="Customers" data-bs-original-title="신고목록">
                        <i class="bi bi-flag-fill" style="font-size: 24px; text-align: center;"></i>
                    </a>
                </li>
            </ul>
            <script type="text/javascript">
                (() => {
                    'use strict'
                    const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                    tooltipTriggerList.forEach(tooltipTriggerEl => {
                        new bootstrap.Tooltip(tooltipTriggerEl)
                    })
                })();
            </script>
        </div>
        <th:block th:replace="${content}"></th:block>

        <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="loginModalLabel">검색 필터</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label class="col-form-label">카테고리별</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">설정하기</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script th:src="@{/common/js/filter.js}"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!--    <link rel="stylesheet" href="bundle-login.css">-->
</th:block>

</html>