<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


</head>
<body>
<header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div class="dropdown">
            <a href="#"
               class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/common/img/t2t.png" width="40" height="40"/>
            </a>
            <ul class="dropdown-menu text-small shadow" style="">
                <li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>
                <li><a class="dropdown-item" href="#">Inventory</a></li>
                <li><a class="dropdown-item" href="#">Customers</a></li>
                <li><a class="dropdown-item" href="#">Products</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Reports</a></li>
                <li><a class="dropdown-item" href="#">Analytics</a></li>
            </ul>
        </div>

        <div class="d-flex align-items-center">
            <form class="w-100 me-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <div th:text="${session.user}"></div>
                <ul class="dropdown-menu text-small shadow" style="">
                    <th:block th:if="${session.t2t_session_user != null}">
                        <li><a class="dropdown-item" href="#" id="leaveEvent">회원탈퇴</a></li>
                        <li><hr class="dropdown-divider" id="divider"></li>
                        <li><a class="dropdown-item" href="#" id="logoutEvent">Log out</a></li>
                    </th:block>
                    <th:block th:if="${session.t2t_session_user == null}">
                        <li><a class="dropdown-item" href="#" id="loginEvent">Login</a></li>
                        <li><a class="dropdown-item" href="#" id="joinEvent">회원가입</a></li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="b-example-divider b-example-vr"></div>
<main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="margin:5px;">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a href="#" class="nav-link active py-3 border-bottom rounded-0" aria-current="page"
                   data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
                    <i class="bi bi-house-door" style="font-size: 24px; text-align: center;"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                   data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
                    <i class="bi bi-file-earmark-plus" style="font-size: 24px; text-align: center;"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                   data-bs-placement="right" aria-label="Orders" data-bs-original-title="Orders">
                    <i class="bi bi-search-heart" style="font-size: 24px; text-align: center;"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                   data-bs-placement="right" aria-label="Products" data-bs-original-title="Products">
                    <i class="bi bi-chat-text" style="font-size: 24px; text-align: center;"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
                   data-bs-placement="right" aria-label="Customers" data-bs-original-title="Customers">
                    <i class="bi bi-question-square" style="font-size: 24px; text-align: center;"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="b-example-divider b-example-vr" style="width:20px;"></div>
    <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 95%;">
        <div class="row" data-masonry="{&quot;percentPosition&quot;: true }"
             style="position: relative; height: 1188.4px;">
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="200"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                    </svg>

                    <div class="card-body">
                        <h5 class="card-title">Card title that wraps to a new line</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 0px;">
                <div class="card p-3">
                    <figure class="p-3 mb-0">
                        <blockquote class="blockquote">
                            <p>A well-known quote, contained in a blockquote element.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-0 text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 251.6px;">
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="200"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                    </svg>

                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 433.6px;">
                <div class="card bg-primary text-white text-center p-3">
                    <figure class="mb-0">
                        <blockquote class="blockquote">
                            <p>A well-known quote, contained in a blockquote element.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-0 text-white">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 623.2px;">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 653.2px;">
                <div class="card">
                    <svg class="bd-placeholder-img card-img" width="100%" height="260"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Card image"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text>
                    </svg>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 824.8px;">
                <div class="card p-3 text-end">
                    <figure class="mb-0">
                        <blockquote class="blockquote">
                            <p>A well-known quote, contained in a blockquote element.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-0 text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 938.8px;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is another card with title and supporting text below. This card has
                            some additional content to make it slightly taller overall.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    (() => {
        'use strict'
        const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(tooltipTriggerEl => {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })()
</script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<!-- or -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

<!--Modal 시작 부분 by Moon-->
<!--총 3개 Modal #1. loginModal(로그인)  #2. joinModal(회원가입)  #3. leaveModal(회원탈퇴)-->
<!--loginModal-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/common/img/t2t.png" width="40" height="40"/>
                <h1 class="modal-title fs-5" id="loginModalLabel">로그인</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/login" method="post" id="loginForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="usrId" placeholder="userId">
                        <label for="floatingInput">ID</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" name="passwd" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-check my-1" style="display: flex; justify-content: center;">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" value="auto" name="auto">
                        <label class="form-check-label" for="flexCheckDefault">자동로그인</label>
                    </div>
                    <div class="mb-5" style="display: flex; justify-content: center;">
                        <button type="submit" class="btn btn-primary" id="loginSubmit" >로그인</button>
                    </div>
                </form>
                    <ul class="nav justify-content-center mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">아이디 찾기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">비밀번호 찾기</a>
                        </li>
                    </ul>
                    <div class="my-1" style="display: flex; justify-content: center;">
                        <button type="button" class="btn btn-info" id="joinBtn">회원가입</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--joinModal-->
<div class="modal fade" id="joinModal" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img id="defaultImg" src="/common/img/t2t.png" width="40" height="40"/>
                <h1 class="modal-title fs-5" id="joinModalLabel">T2T 회원가입 페이지</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/guest/signup" method="post" id="joinForm" enctype="multipart/form-data" onsubmit="return fieldCheck()">
                    <div class="form-floating mb-1" style="display: flex; justify-content: center; border-radius: 50%">
                        <div>
                            <img src="/common/img/t2t.png" id="imgTag" width="150" height="150"/>
                        </div>
                    </div>
                    <div class="form-floating mb-1" style="display: flex; justify-content: center; width: 350px;">
                        <input type="file" class="form-control" name="imageProfile" id="floatingJoinProfileInput" placeholder="profile" onchange="loadFile(this)">
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" name="usrId" id="floatingJoinInput" placeholder="userId">
                        <label for="floatingJoinInput">ID*</label>
                    </div>
                    <div>
                        <input type="text" id="idCheck" style="width: 250px; " disabled />
                        <label for="idCheck">중복 아이디 체크</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="password" class="form-control" name="passwd" id="floatingJoinPassword" placeholder="Password">
                        <label for="floatingJoinPassword">Password*</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="password" class="form-control" name="pwch" id="floatingJoinPasswordCheck" placeholder="passwordCheck">
                        <label for="floatingJoinPasswordCheck">Password 확인*</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" name="nm" id="floatingJoinName" placeholder="name">
                        <label for="floatingJoinName">회원 실명*</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="email" class="form-control" name="email" id="floatingJoinEmail" placeholder="email">
                        <label for="floatingJoinEmail">email address*</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" name="bankNm" id="floatingJoinBank" placeholder="bank">
                        <label for="floatingJoinBank">은행명 *카카오뱅크만 가능합니다.!!</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" name="bankAcnt" id="floatingJoinBankAccount" placeholder="bankAccount">
                        <label for="floatingJoinBankAccount">계좌번호(- 없이 입력하세요)</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" name="bankAcntOwr" id="floatingJoinBankAccountOwner" placeholder="bankAccountOwner">
                        <label for="floatingJoinBankAccountOwner">예금주 명</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" name="intro" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">자기소개</label>
                    </div>

                    <div class="mb-5" style="display: flex; justify-content: center">
                        <button type="submit" class="btn btn-primary mx-2" id="joinCompleteBtn" >회원가입완료</button>
                        <button type="button" class="btn btn-danger mx-2" id="cancelBtn" onclick="window.location='/'">취소</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--leaveModal-->
<div class="modal fade" id="leaveModal" tabindex="-1" aria-labelledby="leaveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/common/img/t2t.png" width="40" height="40"/>
                <h1 class="modal-title fs-5" id="leaveModalLabel">탈퇴하시겠습니까?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="leaveForm">
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" id="floatingLeavePassword" placeholder="Password">
                        <label for="floatingJoinPassword">Password</label>
                    </div>
                    <div class="mb-5" style="display: flex; justify-content: center">
                        <button type="submit" class="btn btn-danger mx-2" id="leaveCompleteBtn" >회원탈퇴</button>
                    </div>
                    <ul class="nav justify-content-center mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">비밀번호 찾기</a>
                        </li>
                    </ul>

                </form>
            </div>

        </div>
    </div>
</div>
<!-------------------------->
<!--ㅡModal 끝 부분 by Moon-->

<script src="/common/js/common.js" type="text/javascript"></script>
<script>
    // 기존 default 프로필 사진을 선택한 사진으로 변경하는 함수 by Moon
    function loadFile(input) {
        console.log(input.files[0]);
        let file = input.files[0];
        $('#imgTag').attr("src", URL.createObjectURL(file));
    }

    // 유효성 검사(Not null 속성값이 다 입력 되었는지 확인) 함수 by Moon
    function fieldCheck() {
        let form = document.getElementById("joinForm")
        console.log(form);
        if(!form.usrId.value) {
            alert("아이디를 입력하세요~~");
            return false;
        }
        if(!form.passwd.value) {
            alert("비밀번호를 입력하세요~~");
            return false;
        }
        if(!form.pwch.value) {
            alert("비밀번호 확인란를 입력하세요~~");
            return false;
        }
        if(!form.nm.value) {
            alert("이름을 입력하세요~~");
            return false;
        }
        if(!form.bankNm.value) {
            alert("은행이름을 입력하세요~~");
            return false;
        }
        if(!form.bankAcnt.value) {
            alert("은행 계좌번호를 입력하세요~~");
            return false;
        }
        if(!form.bankAcntOwr.value) {
            alert("예금주를 입력하세요~~");
            return false;
        }

        if(form.passwd.value != form.pwch.value) {
            alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.")
            return false;
        }
    }

    // Ajax를 이용한 중복 아이디 검사 jQuery by Moon
    $(document).ready(function () {
        // id값이 "floatingJoinInput"인 input 태그에 변경사항이 있으면 이벤트 발생
        $("#floatingJoinInput").change(function () {
            let usrId = $("#floatingJoinInput").val();
            $.ajax({
                url:  "/idAvailAjax",
                type: "post",
                data: {usrId: usrId},
                success: function (result) {
                    $("#idCheck").val(result).css("color", "red");
                },
                error: function (e) {
                    console.log("ajax 요청 실패!!");
                    console.log(e);
                }
            });
        });
    });
</script>

</body>
</html>