<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>loginPro</title>
<!--    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
</head>
<body>

<script th:inline="javascript">
$(document).ready(function() {

    let result = [[${result}]];
    console.log(result);

    function jqAlert(outputMsg, titleMsg, onCloseCallback) {
        if (!titleMsg)
            titleMsg = 'Alert';

        if (!outputMsg)
            outputMsg = 'No Message to Display.';

        $("<div></div>").html(outputMsg).dialog({
            title: titleMsg,
            resizable: false,
            modal: true,
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                }
            },
            close: function() { onCloseCallback();
                /* Cleanup node(s) from DOM */
                $(this).dialog('destroy').remove();
            }
        });
    }

    if(result) {
        // alert("로그인 성공");
        // loginSuccessDialog();
        jqAlert("로그인 성공!!!", "로그인 확인 창", function(){ window.location.href = "/" });

    }else {
        // alert("아이디 또는 비밀번호가 맞지 않습니다.");
        jqAlert("로그인 실패!!!", "로그인 확인 창", function(){ history.go(-1) });
    }
})

</script>
</body>
</html>